<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877653521153-ttci32rgekfvhek3bbd9ksbusiakvn2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877653521153-ttci32rgekfvhek3bbd9ksbusiakvn2u</string>
	<key>API_KEY</key>
	<string>AIzaSyCwf7CSFOJW6oYHUv2MJ9yuU93WrLyqBPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>877653521153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChat</string>
	<key>PROJECT_ID</key>
	<string>chatappflutter-287c1</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappflutter-287c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877653521153:ios:7d2a60afc68bf1aaa1a100</string>
</dict>
</plist>